@tailwind base;
@tailwind components;
@tailwind utilities;

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

.montserrat,
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.comfortaa {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
}

.platypi {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
}
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}

.briem-hand {
  font-family: "Briem Hand", cursive;
  font-optical-sizing: auto;
}
